body {
  color: #383838;
  font-family: 'Menlo', 'Meslo LG', monospace;
  line-height: 1.725;

  --a-color: #1769e0;
  --border-color: #eee;
}

pre {
  line-height: 1.5em;
  /* border: 1px solid #ccc; */
  padding: 5px;
  border-radius: 2px;
  background: #fafafa;
  font-size: 14px;
  color: #fff;
  background: #333;
}

blockquote {
  border-left: 4px solid #ccc;
  margin-left: 0;
  padding: 5px 0 5px 20px;
}

img {
  max-width: 100%;
}

p code,
li code {
  background: #efefef;
  border-radius: 3px;
  padding: 2px 5px;
  font-size: 0.9em;
}

h2 {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 8px;
}

a {
  color: var(--a-color);
  text-decoration: none;
}

a:hover {
  border-bottom: 0.1em solid var(--a-color);
}
