pre {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 2px;
  background: #fafafa;
  font-size: 14px;
}

blockquote {
  border-left: 4px solid #ccc;
  margin-left: 0;
  padding: 5px 0 5px 20px;
}

img {
  width: 100%;
}

p code {
  background: #efefef;
  border-radius: 3px;
  padding: 2px 5px;
  font-size: 0.9em;
}