blockquote {
  border-radius: 10px;
  border: 1px solid;
  border-left: 8px solid;
  border-color: #ffdc48;
  background-color: #fff9eb;
  padding: 10px 20px;
  margin: 20px 0;

  /* 颜色测试 */
  border-color: #ddd;
  background-color: var(--active-color);
}
